modal-login {

    // align the form horizontally
    .scroll-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    // make the form adjust to the full width
    form {
        width: 100%;
    }
  
    // adds the soothing gradient to the background of the page
    .content {
        background: url('../assets/conference-bg.jpg');
        background-size: cover;
    } 

    // give inputs a light background color
    .item-ios,
    .item-md  {
        background-color: color($colors, white-transparent, base);  
    }

    // give the footer a white transparent border
    .footer-ios .toolbar-background-ios {
        border-color: color($colors, white-transparent, base);  
    }
    
    /** fixes **/      
    // if a list has a no-line directive, the last item still shows
    // a bottom border, so hide it
    .list-md[no-lines] .item-input:last-child {
        border-width: 0;
    }    
}