.ios, .md {
    page-contact {

        ion-item-divider { 
            background-color: #FFFFFF !important;
        }
    
        ion-list ion-item { 
            margin-left: 5vw;
            min-height: 10vh;
        }

        .item-inner { 
            border-bottom: 0 !important;
        }

        ion-item-divider { 
            border-bottom: 0 !important;
        }

        ion-avatar, ion-img, img {
            height: 10vw;
            width: 10vw;
        }

        ion-label {
            margin: 0;
        }

        ion-label h2 {
            margin-bottom: 5px;
        }
    }
}
