page-home {

    scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-content ion-grid {
        padding: 0px !important;
        height: 100%;
    }

    #header {
        flex: 2;
        text-align: center;
        background-size: cover;
        background-image:linear-gradient(0deg, rgba(red(map-get($colors, primary)), green(map-get($colors, primary)), blue(map-get($colors, primary)), 0.5), 
                    rgba(red(map-get($colors, primary)), green(map-get($colors, primary)), blue(map-get($colors, primary)), 0.5)),
                    url("../../assets/img/bg_blur.jpg");
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    #header ion-col {
        margin: auto;
    }
    
    #header ion-img {
        contain: none;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 0 3px #FFFFFF;
    }

    #header h2, #header h4, #header h6 {
        color: #FFFFFF;
        margin: 0.1em;
    }

    .subContent { 
        flex: 1;
        height: 100%;
    }

    .subContent ion-card { 
        height: 100%;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        margin: 0;
    }

    .cardHeader, .cardHeader p {
        flex: 1; 
        color: map-get($colors, primary);;
        text-align: center;
    }

    .cardHeader ion-col {
        margin: auto;
    }

    .cardInformation { 
        flex: 2;
        text-align: center;
    }

    .cardInformation ion-col {
        margin: auto;
    }

    .cardInformation h1 {
        color: map-get($colors, primary);
        font-size: 3em;
    }

    #statusCard h1 {
        color: map-get($colors, disconnected);
        font-size: 1.5em;
    }

    .toolbar-background {
        background-color: map-get($colors, primary);
    }
}

