page-home {

    scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-content ion-grid {
        padding: 0px !important;
        height: 100%;
    }

    #header {
        flex: 4;
        text-align: center;
        background-size: cover;
        display: flex; 
        flex-direction: column;
        background-image:linear-gradient(0deg, rgba(red(map-get($colors, primary)), green(map-get($colors, primary)), blue(map-get($colors, primary)), 0.5), 
                    rgba(red(map-get($colors, primary)), green(map-get($colors, primary)), blue(map-get($colors, primary)), 0.5)),
                    url("../../assets/img/bg_blur.jpg");
    }
    
    #header ion-row {
        height: 100%;
    }

    #header ion-col {
        margin: auto;
    }
    
    #header ion-img {
        contain: none;
        height: 8em;
        width: 8em;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 0 3px #FFFFFF;
    }

    #header h2, h4, h6 {
        color: #FFFFFF;
        margin: 0.1em;
    }

    #notification {
        flex: 3;
        background-color: #F4F7F5;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    #notification ion-card {
        margin-top: 12px;
        height: 30vw;
        min-width: 70vw;
        color: map-get($colors, secondary);
    } 

    #notification ion-row {
        height: 100%;
 
    }

    #notification ion-col {
        height: 100%;
    }

    #notification ion-img {
        contain: none;
        background-color: transparent;
        height: 50px;
        width: 50px;
    } 

    .topSub {
        flex: 3;
        border-bottom: 1px solid #CCCCCC;

    }

    .bottomSub {
        flex: 1;
        margin: auto;
        
    }

    .bottomSub ion-img, .bottomSub img {
        height: 1em !important;
        width: 1em !important;
        display: inline-block;
    }

    .bottomSub p {
        display: inline-block;
    }

    .buttom button { 
        color: #FFFFFF !important;
        background-color: #FFFFFF !important;
    }

    #status {
        display: flex;
        flex-direction: column;
        flex: 4;
        background-color: #F4F7F5;
    }

    #contactStatus { 
        flex: 1;
        background-color: #F4F7F5;
    }

    #badgeStatus {
        flex: 1;
        text-align: center;
        background-color: map-get($colors, disconnected);
        box-shadow: 1px 1px 20px 0px;
    }

    #badgeStatus ion-row {
        height: 100%;
    }

    #badgeStatus ion-col {
        margin: auto;
    }

    #badgeStatus h1 {
        color: #FFFFFF;
        height: 100%;
    }

    #contactStatus { 
        flex: 1;
        height: 100%;
        text-align: center;
        background:linear-gradient(150deg, rgba(red(map-get($colors, primary)), green(map-get($colors, primary)), blue(map-get($colors, primary)), 1), 
        rgba(red(map-get($colors, light)), green(map-get($colors, light)), blue(map-get($colors, light)), 0.8));
        box-shadow: 1px 1px 20px 0px;
    }

    #contactStatus ion-row {
        height: 100%;
    }

    #contactStatus ion-col {
        margin: auto;
    }

    #contactStatus h1 { 
        color: #FFFFFF;
    }
}

