page-home {
    ion-navbar {
        min-height: 0 !important;
        height: 0 !important;
        padding: 0 !important;
    }

    scroll-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    ion-content ion-grid {
        padding: 0px !important;
        height: 100%;
    }

    #header {
        flex: 2;
        text-align: center;
        background-size: cover;
        background-image:linear-gradient(0deg, rgba(red(map-get($colors, homeOverlay)), green(map-get($colors, homeOverlay)), blue(map-get($colors, homeOverlay)), 0.2), 
                    rgba(red(map-get($colors, homeOverlay)), green(map-get($colors, homeOverlay)), blue(map-get($colors, homeOverlay)), 0.2)),
                    url("../../assets/img/bg_blur.jpg");
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    #header ion-col {
        margin: auto;
    }
    
    #header ion-img {
        contain: none;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 0 3px #FFFFFF;
    }

    #header h2, #header h4, #header h6 {
        color: #FFFFFF;
        margin: 0.1em;
    }

    .subContent { 
        flex: 1;
        height: 100%;
    }

    .subContent ion-card { 
        height: 100%;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        margin: 0;
    }

    .cardHeader, .cardHeader p {
        flex: 1; 
        color: #FFFFFF;
        text-align: center;
    }

    .cardHeader ion-col {
        margin: auto;
    }

    .cardHeader h1 {
     //   color: map-get($colors, primary);
        font-size: 2em;
    }

    .cardHeader h2 {
        font-size: 1.2em;
    }

    .subContent > ion-col:first-child {
      //  border-right: solid 2px rgba(0, 0, 0, 0.1);
    }

    .subContent > ion-col { //first-child isn't working for some reason on subcontent
      //  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
    //    box-shadow: inset 0px 2px 10px -2px rgba(0, 0, 0, 0.1);
    }

    .cardHeaderIcon img {
        background: transparent;
        color: map-get($colors, primary);
        height: 5vw;
        flex: 1;   
    }

    .cardHeader { 
        height: 100%;
        display: flex;
    }

    .cardHeader ion-col {
        flex: 1;
        text-align: center;
    }

    .iconContainer h1 {
        display: inline-block;
        margin: 2px;
    }

    .iconContainer ion-icon {
        display: inline-block;
        margin: 2px;
        font-size: 2em;
    }

    #badgeStatus h1 { 
        font-size: 1.2em;
    }

    #contactsCol {
        background-color: #31d0a0;
    }

    #badgeCol {
        background-color: #e43b4a; 
    }

    #eventsCol {
        background-color: #154b5e;
    }

    #seminarsCol {
        background-color: #2B2D42;
    }
}

