<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row id="header">
      <ion-col col-4>
        <ion-img src="assets/img/cody.jpg"></ion-img>
      </ion-col>

      <ion-col col-8>
        <h2>Cody Worsnop</h2>
        <h4>Software Engineer</h4>
        <h6>General Electric | University of Nevada, Reno</h6>
        <h6>Reno, Nevada | 220 </h6>
      </ion-col>
    </ion-row>

    <ion-row id="notification">
      <ion-col col-12>
        <div *ngIf="cards.length == 0">
          <h1>No New Notifications</h1>
        </div>
        <div *ngIf="cards.length != 0">
          <ion-card *ngFor="let card of cards">

            <ion-row>
              <ion-col col-3 id="cardIcon">
                <ion-img src="assets/img/calendar_icon.png"></ion-img>
              </ion-col>
              <ion-col col-9 id="cardContent">

                <ion-row id="cardInfo">
                  <ion-col col-12>
                    <div id="notificationWrapper">
                      <h3>{{card.title}}</h3>
                      <p>{{card.subtitle}}</p>
                      <p>{{card.date}} {{card.time}}</p>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row id="cardSelection">
                  <ion-col col-6 (click)="dismissNotification(card)">
                    <p>Dismiss</p>
                  </ion-col>
                  <ion-col col-6 (click)="navToEvent()">
                    <p>View</p>
                  </ion-col>
                </ion-row>

              </ion-col>
            </ion-row>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>