.ios, .md { 
    modal-eventMap {
    
        ion-content ion-grid {
            height: 100%;
            padding: 0 !important;
        }
    
        ion-grid ion-row { 
            height: 100%;
        }

        ion-grid ion-col {
            padding: 0;
        }
    
        #map {
            height: 100%;
            width: 100%;
        }
    }
}


