<ion-slides pager="true">

  <ion-slide>
    <ion-row class="title">
      <ion-col col-12>
        <h1>Welcome To TouchBadge</h1>
        <h2>An Innovation in Networking</h2>
      </ion-col>
    </ion-row>

    <ion-row class="info">
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <div class="introButton" (click)="NavToIndex(1)">
          <h3>Let's get started</h3>
        </div>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
    <ion-row class="title">
      <ion-col col-12>
        <h1>Signing In</h1>
        <h2>TouchBadge authenticates against LinkedIn so your information is always up to date. Share your position, contact
          information, and even your resume!</h2>
      </ion-col>
    </ion-row>

    <ion-row class="info">
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <div class="introButton" (click)="LinkedInLogin()">
          <h3>Sign into LinkedIn</h3>
        </div>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
    <ion-row class="title">
      <ion-col col-12>
        <h1>Badge Setup</h1>
        <h2>Connect to your TouchBadge to get started.</h2>
      </ion-col>
    </ion-row>
    <ion-row id="bluetoothScan">
      <ion-col col-12>
        <div *ngIf="findingVis">
          <h2>Finding Devices</h2>
          <ion-spinner></ion-spinner>
        </div>
        <ion-list>          
          <button ion-item *ngFor="let device of devices" (click)="connect(device)">
            <h2>{{device.advertising.kCBAdvDataLocalName}}</h2>
            <p>{{device.id}}</p>
            <p>RSSI: {{device.rssi}}</p>
          </button>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="info">
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <div class="introButton" (click)="ScanDevices()">
          <h3>Scan</h3>
        </div>
        <div (click)="NavToIndex(3)">
          <p>Don't have your badge yet? ></p>
        </div>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
    <ion-row class="title">
      <ion-col col-12>
        <h1>You're All Set</h1>
        <h2>Are you ready to expand your network?</h2>
      </ion-col>
    </ion-row>

    <ion-row class="info">
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <div class="introButton" (click)="NavToHome()">
          <h3>Experience TouchBadge</h3>
        </div>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-slides>