.ios, .md {
    
     page-intro {
    
       ion-slide {
         background-color: map-get($colors, dark);
       }

       .slide-zoom { 
         display: flex;
         flex-direction: column;
         height: 100%;
       }

       .title { 
        flex: 2;
        align-items: center;
       }

       .info {
        flex: 1;
        align-items: center;
       }
    
       ion-slide img {
         height: 45vh !important;
         width: 45vh !important;
       }
    
       h1, h2 {
        color: #FFFFFF;
        font-weight: 300;
        animation: breathing 12s ease-out infinite normal;      
       }

       h2 { 
         font-size: 1.1em;
       }

       h3 { 
        color: #FFFFFF;
        font-weight: 300;  
        margin-top: 20px;
        margin-bottom: 20px;
       }

       #getStartedButton { 
         border: solid 1px #FFFFFF;
         border-radius: 10px;
       }

        @keyframes breathing {
         0% {
           transform: scale(0.95);
          }
    
          25% {
           transform: scale(1);
          }
    
          60% {
           transform: scale(0.95);
          }
    
          100% {
            transform: scale(0.95);
          }
      }
     } 
   }