page-calendar {

    ion-navbar {
        min-height: 0 !important;
        height: 0 !important;
        padding: 0 !important;
    }
    
    scroll-content {
        display: flex;
        flex-direction: column;
        flex-flow: column;
    }

    ion-content ion-grid {
        padding: 0px !important;
        height: 100%;
    }

    ion-content ion-row {
        flex: 1;
        height: 100%;
    }

    ion-content ion-col {
        margin: auto !important;
        height: 100%;
    }

    ion-content ion-row ion-col ion-calendar {
        padding: 0px;
    }

    #calendar {
        padding: 0px;
        background-color: map-get($colors, dark);
      //  background-image:linear-gradient(0deg, rgba(red(map-get($colors, calendarOverlay)), green(map-get($colors, calendarOverlay)), blue(map-get($colors, calendarOverlay)), 0), 
        //            rgba(red(map-get($colors, calendarOverlay)), green(map-get($colors, calendarOverlay)), blue(map-get($colors, calendarOverlay)), 0)),
          //          url("../assets/img/bg_blur.jpg");
    }

    #info {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-shadow: inset 0 15px 10px -5px rgba(0,0,0,0.4);
    }

    #info ion-col {
        overflow: auto;
    }

    #infoHeading { 
        color: map-get($colors, primary);
        font-size: 1.5em;
        margin-left: 2vh;
    }

    .id { 
        color: map-get($colors, primary);
        margin-left: 2vh;
    }

    #calendar .days-btn p {
        color: #FFFFFF
    }

    #calendar .switch-btn {
        color: #FFFFFF !important;
    }

    #iconSection { 
        background-color: map-get($colors, primary);
        color: #FFFFFF;
        font-size: 3.4em;

    }

    #iconSection ion-icon { 
        margin-left: 15px;
    }

    .event ion-card {
        height: 75px;
    }

    #cardInfo h2 {
        margin-left: 5px;
    }

    #cardInfo h3 {
        font-weight: normal;
        font-size: 0.9em;
        margin-left: 5px;
        margin-top: 10px
    }

    .days small {
        color: #FFFFFF !important;
    }

    .month-packer-item button {
        color: #FFFFFF !important;
    }
}
